// $typeface-color-grey: #727779;
// $typeface-color-grey-darker: #383e41;
// $typeface-color-red: #dc1b03;
$color-lighter-blue: #c7f0fe;
$color-darker-blue: #56d3c9;

$navbar-link-height: 20px;

$massage-icon-width: 255.16;
$massage-icon-height: 165.52;
$massage-icon-ratio-multiplier: $massage-icon-width / $massage-icon-height;

$register-icon-width: 220.31;
$register-icon-height: 227.94;
$register-icon-ratio-multiplier: $register-icon-height / $register-icon-width;

$login-icon-width: 722.88;
$login-icon-height: 799.84;
$login-icon-ratio-multiplier: $login-icon-height / $login-icon-width;

$logout-icon-width: 710.04;
$logout-icon-height: 724.87;
$logout-icon-ratio-multiplier: $logout-icon-height / $logout-icon-width;
