.massage-link-inner-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px 20px;

  .classical-massage-image {
    padding-bottom: 66.64%;
    background-image: url('../images/classical-massage.jpeg');
    background-size: cover;
  }

  .sports-massage-image {
    padding-bottom: 66.64%;
    background-image: url('../images/sports-massage.jpeg');
    background-size: cover;
  }

  .lava-stone-massage-image {
    padding-bottom: 66.67%;
    background-image: url('../images/lava-stone-massage.jpeg');
    background-size: cover;
  }

  .pregnancy-massage-image {
    padding-bottom: 66.64%;
    background-image: url('../images/pregnancy-massage.jpeg');
    background-size: cover;
  }

  .dual-massage-image {
    padding-bottom: 66.68%;
    background-image: url('../images/dual-massage.jpeg');
    background-size: cover;
  }

  h1 {
    margin: 25px 0;
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .massage-short-description {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: justify;
    hyphens: auto;
  }
}